<div ng-controller="studentInfoController"  style="    margin-right: 26px;">

	<div>
		<div class="Timeline">

  <svg height="5" width="200">
  <line x1="0" y1="0" x2="200" y2="0" style="stroke:#004165;stroke-width:5" />
  Sorry, your browser does not support inline SVG.
</svg>

  <div class="event1">
    
    <div class="event1Bubble">
      <div class="eventTime">
        <div class="DayDigit">02</div>
        <div class="Day">
           Wednesday
          <div class="MonthYear">february 2016</div>
        </div>
      </div>
      <div class="eventTitle">Java Started</div>
    </div>
    <div class="eventAuthor">by Vishal</div>
    <svg height="20" width="20">
       <circle cx="10" cy="11" r="5" fill="#004165" />
     </svg>
    <div class="time">9 : 27 AM</div>
    
  </div>
  
  <svg height="5" width="300">
  <line x1="0" y1="0" x2="300" y2="0" style="stroke:#004165;stroke-width:5" />
  Sorry, your browser does not support inline SVG.
</svg>

  <div class="event2">
    
    <div class="event2Bubble">
      <div class="eventTime">
        <div class="DayDigit">17</div>
        <div class="Day">
           Thursday
          <div class="MonthYear">April 2016</div>
        </div>
      </div>
      <div class="eventTitle">Angular Started</div>
    </div>
    <div class="event2Author">by Deepak</div>
      <svg height="20" width="20">
    <circle cx="10" cy="11" r="5" fill="#004165" />
    </svg>
    <div class="time2">1 : 32 PM</div>
  </div>
  
  <svg height="5" width="50">
  <line x1="0" y1="0" x2="50" y2="0" style="stroke:#004165;stroke-width:5" />
  Sorry, your browser does not support inline SVG.
</svg>

  <div class="now">
    NOW
  </div>  
    
  
  <svg height="5" width="150">
  <line x1="0" y1="0" x2="150" y2="0" style="stroke:rgba(162, 164, 163, 0.37);stroke-width:5" />
  Sorry, your browser does not support inline SVG.
</svg>
  <div class="event3 futureGray ">
    <div class="event1Bubble futureOpacity">
      <div class="eventTime">
        <div class="DayDigit">05</div>
        <div class="Day">
           Tuesday
          <div class="MonthYear">May 2016</div>
        </div>
      </div>
      <div class="eventTitle">Anticipated Hire</div>
    </div>
      <svg height="20" width="20">
    <circle cx="10" cy="11" r="5" fill="rgba(162, 164, 163, 0.37)" />
    </svg>
  </div>
<svg height="5" width="50">
<line x1="0" y1="0" x2="50" y2="0" style="stroke:#004165;stroke-width:5" /> 
</svg>
<svg height="20" width="42">
<line x1="1" y1="0" x2="1" y2="20" style="stroke:#004165;stroke-width:2" /> 
<circle cx="11" cy="10" r="3" fill="#004165" />  
<circle cx="21" cy="10" r="3" fill="#004165" />  
<circle cx="31" cy="10" r="3" fill="#004165" />    
<line x1="41" y1="0" x2="41" y2="20" style="stroke:#004165;stroke-width:2" /> 
</svg>  
  
</div>
	</div>

	<div class="row equal"
		style="margin-top: 10px; margin-left: 15px; max-height: 314px;">
		<div class="col-md-4">

			<div class="row infoForm">
				<div class="main-login main-center">
					<h5 style="text-align: center;">Student Details</h5>
					<form class="" method="post" action="#">

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa"
										aria-hidden="true"></i></span> <input type="text"
										class="form-control" name="name" id="name" ng-model="name"
										placeholder="Enter your Name" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
										type="text" class="form-control" name="email" id="email" ng-model="email"
										placeholder="Enter your Email" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Phone
								Number</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-users fa" aria-hidden="true"></i></span> <input
										type="text" class="form-control" name="username" id="username"
										ng-model="phoneNumber" placeholder="Enter your Username" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Skype</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-skype fa" aria-hidden="true"></i></span> <input
										type="text" class="form-control" name="username" id="username"
										ng-model="skypeId"placeholder="Enter your Username" />
								</div>
							</div>
						</div>




					</form>
				</div>
			</div>




		</div>

		<div class="col-md-4 tech-stack-div margin-left-stack scrollbar"
			id="style-2" style="overflow: auto;">

			<div>
				<h5 style="text-align: center;">Tech-Stack</h5>

				<div class="col-md-12">
					<div id="bar-1" class="bar-main-container azure">
						<div class="wrap">
							Java
							<div class="bar-percentage" data-percentage="46"></div>
							<div class="bar-container">
								<div class="bar"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div id="bar-1" class="bar-main-container azure">
						<div class="wrap">
							Rest Services
							<div class="bar-percentage" data-percentage="70"></div>
							<div class="bar-container">
								<div class="bar"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div id="bar-1" class="bar-main-container azure">
						<div class="wrap">
							Angular js
							<div class="bar-percentage" data-percentage="50"></div>
							<div class="bar-container">
								<div class="bar"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div id="bar-1" class="bar-main-container azure">
						<div class="wrap">
							Node js
							<div class="bar-percentage" data-percentage="80"></div>
							<div class="bar-container">
								<div class="bar"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div id="bar-1" class="bar-main-container azure">
						<div class="wrap">
							Springs
							<div class="bar-percentage" data-percentage="90"></div>
							<div class="bar-container">
								<div class="bar"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div id="bar-1" class="bar-main-container azure">
						<div class="wrap">
							Hibernate
							<div class="bar-percentage" data-percentage="30"></div>
							<div class="bar-container">
								<div class="bar"></div>
							</div>
						</div>
					</div>
				</div>

			</div>




		</div>
		
		
		<div class="col-md-3 margin-left-next  tech-stack-div scrollbar"
			id="style-2" style="overflow: auto;">

			<div>
				<h5 style="text-align: center;">Feedback</h5>
			  <!-- <nvd3 options="options" data="data"></nvd3> -->
			  		<div class="container-review">
  <div style="display:inline-block;">
  <img src="images/avatar-1606916_640.png" alt="Avatar" style="width:50px">
  <div style="display:inline-block;">
  <p><span>Gaurav</span></p>
  </div>
  
  </div>
  
  
 	 <div style="font-size: 15px; margin-top: 4px;">
  		"Good at Java, need improvement at UI"
 	 </div>
</div>
		  		<div class="container-review">
  <div style="display:inline-block;">
  <img src="images/avatar-1606916_640.png" alt="Avatar" style="width:50px">
  <div style="display:inline-block;">
  <p><span>Sona</span></p>
  </div>
  
  </div>
  
  
 	 <div style="font-size: 15px; margin-top: 4px;">
  		"Schedule Node.js Traning on 22th feb "
 	 </div>
</div>
			  
				</div>




		</div>
	</div>
	
	
	<div class="row"
		style="margin-top: 50px; margin-left: 15px; max-height: 314px;">
		

			<div class="col-md-12  tech-stack-div scrollbar"
				id="style-2" style="overflow: auto;">

				<div>
					<h5 style="text-align: center;">Training Details</h5>

					<ng-jq-grid config="config" data="gridData"></ng-jq-grid>

				</div>




			</div>

		</div>
	</div>


