
<div ng-controller="registerStudentController">
		<div class="col-md-12">

			<div class="row infoForm">
				<div class="main-login main-center">
					<h5 style="text-align: center;">Student Details</h5>
					<form class="" method="post" action="#">

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa"
										aria-hidden="true"></i></span> <input type="text"
										class="form-control" name="name" id="name" ng-model="name"
										placeholder="Enter your Name" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-envelope fa" aria-hidden="true"></i></span> <input
										type="text" class="form-control" name="email" id="email" ng-model="email"
										placeholder="Enter your Email" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Phone
								Number</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-users fa" aria-hidden="true"></i></span> <input
										type="text" class="form-control" name="username" id="username"
										ng-model="phoneNumber" placeholder="Enter your Username" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Skype</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-skype fa" aria-hidden="true"></i></span> <input
										type="text" class="form-control" name="username" id="username"
										ng-model="skypeId"placeholder="Enter your Username" />
								</div>
							</div>
						</div>




					</form>
				</div>
			</div>




		</div>
		<div class="row">
			<div class="col-md-12 plannerSection" >
			<div class="col-md-12 " style="padding-left: 0;">
				<div class="techBucket">Technology Bucket</div>
			</div>
		<div class="col-md-3" ng-model="masterList">
		
		
		<div class="row infoForm" >
		<div class="main-login main-center multiDemo scrollbar planningListSameHeight" id="style-2" style="overflow: auto;">
			<ul dnd-list class=" scrollbar">
    			<li ng-repeat="item in masterList" ng-click="sublistFunction(item)" style="cursor:pointer">
       				 {{item.parentTech}}
    			</li>
			</ul>
		
		
		</div>
	
		
		
		</div>
		</div>
		<div class="col-md-4" ng-model ="model1" stye="max-height: 314px; overflow: auto;">
		
		
		<div class="row infoForm" >
		<div class="main-login main-center multiDemo scrollbar planningListSameHeight" id="style-2" style="margin-left:16px;overflow: auto;">
		<ul dnd-list  class= " " dnd-draggable  dnd-drop="onDrop1(model1, item, index)">
    		<li ng-repeat="item in model1.items" 
    			dnd-draggable="getSelectedItemsIncluding1(model1, item)"
		        dnd-dragstart="onDragstart1(model1, event)"
		        dnd-moved="onMoved1(list)"
		        dnd-dragend="list.dragging = false"
		        dnd-selected="item.selected = !item.selected"
		        ng-class="{'selected': item.selected}"
		        ng-hide="list.dragging && item.selected"
      		  >
        {{item.label}}
    		</li>
		</ul>
		
		
		</div>
	
		
		
		</div>
		
		
		
		</div>
		
		
			<div class="col-md-5" ng-model ="model2" stye="max-height: 314px; overflow: auto;">
		
		
		<div class="row infoForm" >
		<div class="main-login main-center multiDemo scrollbar planningListSameHeight" id="style-2" style="max-width:479px;overflow: auto;">
		<ul dnd-list  class= " " dnd-draggable   dnd-drop="onDrop2(model2, item, index,myList)">
    		<li ng-repeat="item in model2.items" 
    		dnd-draggable="getSelectedItemsIncluding2(model2, item)"
		        dnd-dragstart="onDragstart2(model2, event)"
		        dnd-moved="onMoved2(list)"
		        dnd-dragend="list.dragging = false"
		        dnd-selected="item.selected = !item.selected"
		        ng-class="{'selected': item.selected}"
		        ng-hide="list.dragging && item.selected"
      		  >
        {{item.label}}
    		</li>
		</ul>
		
		
		
		</div>
	
		
		
		</div>
		
		
		
		</div>
			<div class="col-md-12 " style="padding-left: 0;">
				<div class="planningButton">
				
				<button type="button" class="btn btn-info" ng-click="planTheBucket()">Plan It</button>
				
				</div>
			</div>
		
		</div>
		
		</div>  
		
